@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('../../public/fonts/MyriadPro-Regular.woff') format('woff');
}

/**
 * Checkbox
 */
.checkbox {
    @apply dark:bg-transparent;
}


/**
 * Offline
 */
.avatar.offline:before {
    @apply bg-[color:hsl(var(--er))]
}

/**
 * Button
 */
.btn-primary-shadow {
    @apply shadow-[0_5px_30px_hsla(var(--pf)/0.3)] hover:shadow-[0_5px_30px_hsla(var(--pf)/0.3)];
}

/**
 * Tooltip
 */
.tooltip::before {
    @apply z-50;
}

/**
 * Badges
 */
.badge {
    @apply rounded;
}

/**
 * Night Mode
 */
.nightmode:focus {
    box-shadow: var(--handleoffsetcalculator) 0 0 2px var(--tglbg) inset, 0 0 0 2px var(--tglbg) inset, var(--togglehandleborder);;
}

/**
 * ApexChart
 */
.apexcharts-tooltip, .apexcharts-xaxistooltip {
    @apply dark:text-current bg-white dark:bg-base-100 text-gray-500 border-0 rounded-lg shadow-lg !important;
}

.apexcharts-tooltip .apexcharts-tooltip-title {
    @apply py-2 px-4 dark:text-current bg-gray-100 dark:bg-base-200 border-b border-gray-200 dark:border-base-300 !important;
}

.apexcharts-legend-text  {
    @apply dark:text-current !important;
}
.apexcharts-text  {
    @apply dark:fill-current !important;
}

.apexcharts-xaxistooltip:before,
.apexcharts-xaxistooltip:after {
  @apply border-0 !important;
}

.menu li > *:not(ul):not(details):active,
.menu li > *:not(ul):not(details).active,
.menu li > details > summary:active {
    @apply bg-[hsl(var(--p)/var(--tw-bg-opacity))] text-[hsl(var(--b1)/var(--tw-text-opacity))] dark:text-[hsl(var(--pc)/var(--tw-text-opacity))];
}